[submodule "frontend"]
	path = frontend
	url = git@github.com:chrisbakeraugie/monday-candle-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:chrisbakeraugie/monday-candle-backend.git
